<div class="message-container" id="message-<%= message.id %>">
  <% if message.user_id == current_user.id %>
    <div class="sender-message">
      <div class="message">
        <p><%= message.content %></p>
      </div>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </div>
  <% else %>
    <div class="receiver-message">
      <div class="message">
        <p><%= message.content %></p>
      </div>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </div>
  <% end %>
</div>
