<div class="card-whole-link col-12" style="padding: 0">
  <%= link_to offer_path(booking.offer.id) do %>
      <div class="card-product p-3 mb-3">
      <% if booking.offer.photos.attached? %>
        <%= cl_image_tag booking.offer.photos[0].key, id: "card-product-img" %>
      <% end %>
        <div class="card-product-rightside">
          <div class="product-infos card-dashboard-rentals-infos pl-3">
            <div>
              <div class="card-title-location">
                <h2><%= booking.offer.title %></h2>
                <h2><i class="fas fa-dollar-sign"></i> <%= booking.offer.compensation_value %></h2>
              </div>
              <div class="card-title-info">
                <div class="card-category-condition">
                  <p class="card-tag"><%= booking.offer.category %></p>
                  <p class="card-tag"><%= booking.offer.condition %></p>
                </div>
              </div>
            </div>
            <h2></h2>
            <% case booking.status %>
            <% when "pending" %>
              <p class="dashboard-pending-text"><%= booking.offer.user.first_name %> is still reviewing your request...</p>
            <% when "accepted" %>
              <p class="dashboard-accepted-text"><%= booking.offer.user.first_name %> accepted your booking request!</p>
              <p class="dashboard-accepted-text">He is now sharing "<%= booking.offer.title %>" with you from <%= booking.starts_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %> to <%= booking.ends_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %>.</p>
            <% when "declined" %>
              <p class="dashboard-declined-text"><%= booking.offer.user.first_name %> declined your request...</p>
            <% end %>
            <div class="show-profile pt-2">
              <%= cl_image_tag booking.offer.user.photo.key, class: "avatar" %>
              <div class="d-flex flex-column justify-content-space-around">
                <div class="show-name">
                  <p><%= booking.offer.user.first_name %></p>
                </div>
                <div class="show-rating">
                  <% if booking.offer.user.reviews.any? %>
                    <% average = booking.offer.user.reviews.map { |review| review.rating }.sum / offer.user.reviews.length %>
                    <% average.times do %>
                     <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - average).times do  %>
                     <i class="far fa-star"></i>
                    <% end %>
                  <% else %>
                    <p>no reviews yet</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
