<!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-circle-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-circle-right"></i></a>
    </div>
    <!--/.Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
    <% offers.each_with_index do |offer, index| %>
      <div class="<%= index == 0 ? 'carousel-item active' : 'carousel-item' %>">
          <div class="row">
            <div class="col-md-4">
              <%= link_to offer_path(offer[0]) do %>
                <div class="card-carousel mb-2">
                  <%= cl_image_tag offer[0].photos[0].key, height: 500, width: 420, crop: :fill, class: ".card-carousel-img" %>
                  <div class="card-body">
                    <h4 class="card-title"><%= offer[0].title %></h4>
                    <p class="card-text">In <strong><%= offer[0].city %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <%= link_to offer_path(offer[1]) do %>
                <div class="card-carousel mb-2">
                  <%= cl_image_tag offer[1].photos[0].key, height: 500, width: 420, crop: :fill, class: "card-carousel-img" %>
                  <div class="card-body">
                    <h4 class="card-title"><%= offer[1].title %></h4>
                    <p class="card-text">In <strong><%= offer[1].city %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <%= link_to offer_path(offer[2]) do %> 
                <div class="card-carousel mb-2">
                  <%= cl_image_tag offer[2].photos[0].key, height: 500, width: 420, crop: :fill, class: ".card-carousel-img" %>
                  <div class="card-body">
                    <h4 class="card-title"><%= offer[2].title %></h4>
                    <p class="card-text">In <strong><%= offer[2].city %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
