<% chatroom.sender == current_user ? @chatpartner = chatroom.recipient : @chatpartner = chatroom.sender %>

<div class="chatroom-content">
  <div class="show-profile">
    <%= cl_image_tag @chatpartner.photo.key, class: "avatar" %>
    <div class="d-flex flex-column justify-content-space-around pl-1">
      <p class="partner-name"><%= @chatpartner.first_name %></p>
      <% if chatroom.messages.present? && chatroom.messages.last.content.length >= 25 %>
        <p class="message-preview"><%= chatroom.messages.last.content[0..25] %>...</p>
      <% elsif chatroom.messages.present? && chatroom.messages.last.content.length < 25 %>
        <p class="message-preview"><%= chatroom.messages.last.content %></p>
      <% else %>
        <p class="message-preview">No messages yet...</p>
      <% end %>
    </div>
  </div>

  <% if chatroom.messages.present? %>
    <p><%= chatroom.messages.last.created_at.strftime("%H:%M") %></p>
  <% end %>
</div>
