<% current_user.bookings_as_owner.order(:starts_at).each do |booking| %>
  <div class="booking-request-container mb-1">
    <% if booking.status == "pending" %>
      <div class="dashboard-booking-info" >
        <p><%= booking.user.first_name %> <%= booking.user.last_name %> wants to rent "<%= booking.offer.title %>"</p>
        <p>from <%= booking.starts_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %> to <%= booking.ends_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %>.</p>
      </div>
      <div class="dashboard-booking-buttons">
        <%= link_to booking_path(booking, "declined"), method: :patch, remote: true, class: "dashboard-links" do %>
          <i class="far fa-times-circle dashboard-declined-text"></i>
        <% end %>
        <%= link_to booking_path(booking, "accepted"), method: :patch, remote: true, class: "dashboard-links" do %>
          <i class="far fa-check-circle dashboard-accepted-text"></i>
        <% end %>
      </div>
    <% elsif booking.status == "accepted" %>
      <div class="dashboard-booking-info" >
        <p><%= booking.user.first_name %> <%= booking.user.last_name %> wants to rent "<%= booking.offer.title %>"</p>
        <p>from <%= booking.starts_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %> to <%= booking.ends_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %>.</p>
      </div>
      <div class="dashboard-booking-buttons">
        <%= link_to booking_path(booking), method: :delete, remote: true, class: "dashboard-links", :data => {:confirm => 'Are you sure? This will delete/cancel the booking request.'} do %>
          <i class="fas fa-trash-alt dashboard-declined-text"></i>
        <% end %>
        <i class="fas fa-check-circle dashboard-accepted-text"></i>
      </div>
    <% elsif booking.status == "declined" %>
      <div class="dashboard-booking-info" >
        <p><%= booking.user.first_name %> <%= booking.user.last_name %> wants to rent "<%= booking.offer.title %>"</p>
        <p>from <%= booking.starts_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %> to <%= booking.ends_at.to_datetime.strftime("%a. %d.%m.%Y at %R") %>.</p>
      </div>
      <div class="dashboard-booking-buttons">
        <%= link_to booking_path(booking), method: :delete, remote: true, class: "dashboard-links", :data => {:confirm => 'Are you sure? This will delete/cancel the booking request.'} do %>
          <i class="fas fa-trash-alt dashboard-declined-text"></i>
        <% end %>
        <i class="fas fa-times-circle dashboard-declined-text"></i>
      </div>
    <% end %>
  </div>
<% end %>

