<header>
  <div class="hero-group">
    <h1>Sportswap!</h1>
    <h2>Find sports equipment nearby</h2>
    <%= form_tag offers_path, method: :get, class: "search-form mt-3" do %>
      <%= text_field_tag :equipment,
      params[:equipment],
      class: "search-input-field first-input",
      autocomplete: "off",
      placeholder: "Equipment" %>
      <%= text_field_tag :location,
      params[:location],
      class: "search-input-field last-input",
      autocomplete: "off",
      placeholder: "Location" %>
      <%= button_tag(type: "submit", class: "btn-search-form") do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= image_tag("sportswap-jump2.jpeg", alt: "Header showing jumping ski athlete", class: "sportswap-header-image") %>
  </div>
</header>
