<header>
  <div class="hero-group">
    <h1><strong>Sportswap!</strong></h1>
    <h2>Find sports equipment nearby</h2>
    <%= form_tag offers_path, method: :get, class: "search-form mt-3" do %>
      <%= text_field_tag :equipment,
      params[:equipment],
      class: "search-input-field first-input",
      autocomplete: "off",
      placeholder: "Equipment" %>
      <%= text_field_tag :location,
      params[:location],
      class: "search-input-field last-input",
      autocomplete: "off",
      placeholder: "Location" %>
      <%= button_tag(type: "submit", class: "btn-search-form") do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div class="illustrations">
    <%= image_tag("hiker-man.png", alt: "Colorful illustration of a man hiking", id: "hiker") %>
    <%= image_tag("lifting.png", alt: "Colorful illustration of a woman lifting weights", id: "lifting") %>
    <%= image_tag("soccer.png", alt: "Colorful illustration of a woman playing soccer", id: "soccer") %>
  </div>
</header>
