<div>
   <div class="show-rating">
    <%= review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do  %>
      <i class="far fa-star"></i>
    <% end %>
  </div>
  <div>
    <%= review.content %>
  </div>
  <div class="show-profile">
    <%= cl_image_tag reviewer.photo.key, class: "avatar" %>
    <div class="d-flex flex-column ml-2">
      <div class="show-name">
        <p><%= reviewer.first_name %> <%= reviewer.last_name %></p>
      </div>
    </div>
  </div>
</div>