<%= render 'shared/navbar' %>

<h1 class="ml-5 mt-5">My Messages:</h1>

<div class="chat-container p-3 m-5">
  <div class="chat-rooms pr-3 ml-3 mr-3">
    <% current_user.chatrooms.each do |chatroom| %>
      <%= link_to dashboard_path(chatroom_id: chatroom.id) do %>
        <p>Your chat with:</p>
        <p><%= User.find(chatroom.sender_id).first_name if current_user.id == chatroom.recipient_id %></p>
        <p><%= User.find(chatroom.recipient_id).first_name if current_user.id == chatroom.sender_id %></p>
      <% end %>
    <% end %>
  </div>

  <div class="chat-messages p-3">
    <% if @chatroom.present? %>
      <% @message = Message.new %>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
        <%= f.input :content, label: false, input_html: { class: "chat-input", autocomplete: "off" }, placeholder: "Remember to always be kind!" %>
      <% end %>
    <% end %>
  </div>
</div>

<h1 class="ml-5">My Listings</h1>
<div class="center-container m-5">
  <% listings = Offer.where("user_id = #{current_user.id}") %>
  <p><%= "Nothing here yet..." if listings.empty? %></p>
  <% listings.each do |offer| %>
    <%= render partial: 'shared/card-dashboard-listings', locals: {offer: offer} %>
  <% end %>
</div>

<h1 class="ml-5 mt-5">My bookings</h1>
<div class="center-container m-5">
  <% bookings = Booking.where("user_id = #{current_user.id}") %>
  <p><%= "No bookings yet..." if bookings.empty? %></p>
  <% bookings.each do |booking| %>
    <%= render partial: 'shared/card-dashboard-rentals', locals: {booking: booking} %>
  <% end %>
</div>
