<%= render 'shared/navbar' %>

<h1 class="ml-5 mt-5">My Messages:</h1>

<div class="chat-container p-3 m-5">
  <div class="chat-rooms pr-3 ml-3 mr-3">
    <% current_user.chatrooms.each do |chatroom| %>
      <%= link_to dashboard_path(chatroom_id: chatroom.id) do %>
        <% if params[:chatroom_id].to_i == chatroom.id %>
          <div class="chatroom chatroom-active p-3">
            <%= render 'shared/chatroom', chatroom: chatroom %>
          </div>
        <% else %>
          <div class="chatroom p-3">
            <%= render 'shared/chatroom', chatroom: chatroom %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="chat-messages p-3">
    <% if @chatroom.present? %>
      <% @message = Message.new %>
      <div id="messages" data-current-user-id="<%= current_user.id %>" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
        <%= f.input :content, label: false, input_html: { class: "chat-input", autocomplete: "off" }, placeholder: "..." %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="listings-split-view">
  <div class="listings-container">
    <h1 class="ml-5">My Listings:</h1>
    <div class="center-container ml-5 mr-3 mt-5 mb-5">
      <% listings = Offer.where("user_id = #{current_user.id}") %>
      <p><%= "Nothing here yet..." if listings.empty? %></p>
      <% listings.each do |offer| %>
        <%= render partial: 'shared/card-dashboard-listings', locals: {offer: offer} %>
      <% end %>
    </div>
  </div>

  <div class="open-bookings  ml-3" id="open-booking-requests">
    <h1>Notifications:</h1>
    <div class="dashboard-booking-section mt-5 mr-5">
      <% if current_user.bookings_as_owner.empty? %>
        <p>You don't have any open booking requests...</p>
      <% end %>
      <%= render partial: 'shared/dashboard-booking-requests' %>
    </div>
  </div>
</div>

<% bookings = Booking.where("user_id = #{current_user.id}") %>
<% if current_user.bookings.present? %>
  <h1 class="ml-5 mt-5">My Bookings:</h1>
  <div class="booking-grid m-5">
    <% bookings.each do |booking| %>
      <%= render partial: 'shared/card-dashboard-rentals', locals: {booking: booking} %>
    <% end %>
  </div>
<% end %>
