<%= render 'shared/navbar' %>
<div class="container m-5">
  <h1>My Listings</h1>

  <% listings = Offer.where("user_id = #{current_user.id}") %>
  <p><%= "Nothing here yet..." if listings.empty? %></p>
  <% listings.each do |offer| %>
    <%= render partial: 'shared/card-dashboard-listings', locals: {offer: offer} %>
  <% end %>

  <h1>My bookings</h1>

  <% bookings = Booking.where("user_id = #{current_user.id}") %>
  <p><%= "No bookings yet..." if bookings.empty? %></p>
  <% bookings.each do |booking| %>
    <%= render partial: 'shared/card-dashboard-rentals', locals: {booking: booking} %>
  <% end %>
</div>
