<%= render 'shared/navbar' %>

<h1 class="ml-5 mb-3 mt-3">
  <% if @offers.empty? %>
    No results found...
  <% elsif params[:equipment].present? && params[:location].present? %>
    <%= params[:equipment].capitalize.pluralize %> in <%= params[:location].capitalize %>
  <% elsif params[:location].present? %>
    Sports equipment in <%= params[:location].capitalize %>
  <% elsif params[:equipment].present? %>
     <%= params[:equipment].capitalize.pluralize %>
  <% else %>
    Sports equipment
  <% end %>
</h1>

<div class="index" style="display: flex;">
  <div class="d-flex flex-column col-7 p-0">
    <% @offers.each do |offer| %>
      <%= render partial: 'shared/card-product', locals: {offer: offer} %>
    <% end %>
  </div>
  <div class="index-map d-flex col-5 pl-3 pb-3">
    <div id="map"
      style="
        height: 100vh;
        width: 100vw;
        border-radius: 5px;
        "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
