<%= render 'shared/navbar' %>

<h1 class="my-4" style="padding-left: 80px;">
  <% if @offers.empty? %>
    No results found...
  <% elsif params[:equipment].present? && params[:location].present? %>
    <%= params[:equipment].capitalize %>s in <%= params[:location].capitalize %>
  <% elsif params[:location].present? %>
    Sports equipment in <%= params[:location].capitalize %>
  <% elsif params[:equipment].present? %>
     <%= params[:equipment].capitalize %>s
  <% else %>
    Sports equipment
  <% end %>
</h1>

<div class="index" style="display: flex;">
  <div class="d-flex flex-column col-7 p-0">
    <% @offers.each do |offer| %>
      <%= render partial: 'shared/card-product', locals: {offer: offer} %>
    <% end %>
  </div>
  <%# <div class="index-map pl-3"> %>
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%# </div> %>

</div>
