<%= render 'shared/navbar' %>

<% content_for :meta_title, "#{@offer.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photos[0].key) %>

<div class="show-header-section ml-5 mt-5 mr-5">
  <div class="show-title">
    <div class="show-header-icon-title">
      <%= link_to offers_path do %>
      <i class="fas fa-backward show-icon show-icon-back"></i>
      <% end %>
      <div>
        <h2><%= @offer.title %></h2>
        <p><%= @offer.city %>, <%= @offer.country %>, <%= @offer.street %></p>
      </div>
    </div>
  </div>

  <div class="show-user-icons">
    <% unless current_user.nil? %>
      <% if current_user.id == @offer.user_id %>
        <%= link_to edit_offer_path(@offer.id) do %>
          <i class="fas fa-edit show-icon show-icon-edit"></i>
        <% end %>
        <%= link_to offer_path(@offer), method: :delete do %>
          <i class="fas fa-trash-alt show-icon show-icon-edit"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="show-infos ml-5 mr-5">
  <div class="show-profile">
    <%= cl_image_tag @offer.user.photo.key, class: "avatar" %>
    <div class="d-flex flex-column justify-content-center ml-2">
      <div class="show-name">
        <p><%= @offer.user.first_name %></p>
      </div>
      <div class="show-rating">
        <% if @offer.user.reviews.any? %>
          <% average = @offer.user.reviews.map { |review| review.rating }.sum / @offer.user.reviews.length %>
          <% average.times do %>
           <i class="fas fa-star"></i>
          <% end %>
          <% (5 - average).times do  %>
           <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <p><em>no reviews yet</em></p>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% case @offer.compensation_type %>
    <% when "Price per hour" %>
      <p class="mb-0"><span class="show-header-price">$ <%= @offer.compensation_value %></span> /hour</p>
    <% when "Price per day" %>
      <p class="mb-0"><span class="show-header-price">$ <%= @offer.compensation_value %></span> /day</p>
    <% when "Free" %>
      <p class="mb-0"><span class="show-header-price">free</span></p>
    <% when "Other" %>
      <p class="mb-0"><span class="show-header-price"><%= @offer.compensation_value %></span></p>
    <% end %>
    <p class="show-header-condition"><%= @offer.condition %></p>
<!--     <p><%= @offer.condition %></p> -->
  </div>
</div>

<div class="center-container pl-5 pr-5 pb-3 mt-3">
  <% if @offer.photos.count == 1 %>
    <div class="gallery-single">
      <div class="gallery-main">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
    </div>
  <% elsif @offer.photos.count == 2 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-1">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @offer.photos.count == 3 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-2">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @offer.photos.count == 4 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary-3">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-3">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
   <% elsif @offer.photos.count == 5 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-4">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-between pl-5 pr-5 pt-3" id="show-p">
  <div class="col-7">
    <p class="pl-0"><%= @offer.description %></p>
    <h3 class= "mt-4 mb-3 ">Reviews</h3>
    <% if @offer.reviews.any? %>
      <% @offer.reviews.each do |review| %>
        <div class="mb-4">
          <hr>
          <%= render partial: 'shared/review-list', locals: {review: review, users: @users} %>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet...</p>
    <% end %>
    <% unless @offer.reviews.any? { |review| review.author_id == current_user.id } %>
      <% unless @offer.reviews.map {|review| review.author_id == current_user.id }.count > 1 %>
        <% if @offer.bookings.any? { |booking| booking.user == current_user } %>
          <button type="button" class="btn btn-ghost" data-toggle="modal" data-target=".bs-example-modal-lg">add review</button>
          <div class="bs-example-modal-lg modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content p-3">
                <h2 class="mb-4">Add a review</h2>
                <%= simple_form_for([@offer, @offer.reviews.build]) do |f| %>
                  <%= f.input :rating, collection: [ 1, 2, 3, 4, 5 ], label: "Please rate your experience from 1 (poor) to 5 (excellent):" %>
                  <%= f.input :content, input_html: { maxlength: 550, style: 'height: -webkit-fill-available' }, label: "Tell us about your experience:"  %>
                  <%= f.button :submit, class: "btn btn-ghost mt-4" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if current_user.nil? %>
    <div class="card-rent bg-white col-4 p-4">
      <h5 id="card-rent-title">Rent "<%= @offer.title %>"!</h5>
      <p class="pending-text">Please log in to make a booking request.</p>
      <%= link_to "Login", new_user_session_path, class: "btn btn-ghost mb-4" %>
    </div>
  <% else %>
    <% if current_user.id == @offer.user_id  %>
      <div class="card-rent bg-white col-4 p-4" id='offer-booking-dates' data-unavailable="<%= @offer.unavailable_dates.to_json %>">
        <h5 class="mt-3" id="card-rent-title">This is your listing for<br>"<%= @offer.title %>"</h5>
        <div class="mt-4">
          <% booking_count = 0 %>
          <% @offer.bookings.each do |booking| %>
            <% booking_count += 1 if booking[:status] == "pending" %>
          <% end %>
          <% if booking_count == 1 %>
            <p class="offer-confirmation-title-red">You have <strong><%= booking_count %></strong> pending booking.</p>
          <% elsif booking_count > 1 %>
            <p class="offer-confirmation-title-red">You have <strong><%= booking_count %></strong> pending bookings.</p>
          <% end %>
          <p>Go to your dashboard to manage your bookings:</p>
          <div class="card-rent-btn">
            <%= link_to "Dashboard", dashboard_path, class: "btn btn-ghost mb-4"%>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card-rent bg-white col-4 p-4" id='offer-booking-dates' data-unavailable="<%= @offer.unavailable_dates.to_json %>">
        <h5 class="mt-3" id="card-rent-title">Rent "<%= @offer.title %>!"</h5>
        <div class="text-left mt-4 my-4">
          <div class="offer-confirmation-list-container mt-3">
            <% case @offer.compensation_type %>
            <% when "Price per hour" %>
              <i class="fas fa-dollar-sign show-icon-in-card"></i>
              <p>Price: <span id="pricedata" data-pricetype="PH"><%= @offer.compensation_value %></span> per hour</p>
            <% when "Price per day" %>
              <i class="fas fa-dollar-sign show-icon-in-card"></i>
              <p>Price: <span id="pricedata" data-pricetype="PD"><%= @offer.compensation_value %></span> per day</p>
            <% when "Free" %>
              <i class="fas fa-dollar-sign show-icon-in-card"></i>
              <p><div id="pricedata" data-pricetype="FR">For free!</div></p>
            <% when "Other" %>
              <i class="fas fa-dollar-sign show-icon-in-card"></i>
              <p>Compensation: <span id="pricedata" data-pricetype="OT"><%= @offer.compensation_value %></span></p>
            <% end %>
          </div>
          <div class="offer-confirmation-list-container">
            <i class="fas fa-check show-icon-in-card"></i>
            <p>Condition: <%= @offer.condition %><br></p>
          </div>
          <div class="offer-confirmation-list-container mb-4">
            <i class="fas fa-map-marker-alt show-icon-in-card"></i>
            <p>Location: <%= @offer.city %>, <%= @offer.country %>, <%= @offer.street %></p>
          </div>
          <%= simple_form_for([@offer, @booking]) do |f| %>
            <%= f.input :starts_at, label: "Pickup:", as: :string, type: :text %>
            <%= f.input :ends_at, label: "Dropoff:", as: :string, type: :text %>
            <div class="font-weight-bold mt-4">
              <div id="total-price"></div>
            </div>
            <div class="card-rent-btn">
              <%= f.button :submit, "Book", id: "book-button", class: "btn btn-ghost mt-4", "data-pricetype" => "0", "data-totalprice" => "0"%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if $showmodal %>
  <%= render "shared/confirmation-modal", offer: @offer, booking: @booking %>
  <% $showmodal = false %>
<% end %>
