<%= render partial: 'shared/navbar' %>



  <h2 class="m-5" id="show-title"><%= @offer.title %></h2>
  <div class="show-infos">
    <p><%= @offer.city %>, <%= @offer.country %>, <%= @offer.street %></p>
    <% if @offer.compensation_type == "Price per hour" %>
      <p>$ <%= @offer.compensation_value %> per hour</p>
    <% elsif @offer.compensation_type == "Price per day" %>
      <p>$ <%= @offer.compensation_value %> per day</p>
    <% elsif @offer.compensation_type == "Free" %>
      <p>free</p>
    <% elsif @offer.compensation_type == "Other" %>
      <p><%= @offer.compensation_value %></p>
    <% end %>
    <div class="show-profile">
      <%= cl_image_tag @offer.user.photo.key, class: "avatar" %>
      <div class="d-flex flex-column justify-content-space-around">
        <div class="card-avatar-info pt-2">
          <p><%= @offer.user.first_name %></p>
        </div>
        <div class="rating pb-2">
          <% if @offer.user.reviews.any? %>
            <% average = @offer.user.reviews.map { |review| review.rating }.sum / offer.user.reviews.length %>
            <% average.times do %>
             <i class="fas fa-star"></i>
            <% end %>
            <% (5 - average).times do  %>
             <i class="far fa-star"></i>
            <% end %>
          <% else %>
            <p>no reviews yet</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="center-container p-5">
  <% if @offer.photos.count == 1 %>
    <div class="gallery-single">
      <div class="gallery-main">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
    </div>
  <% elsif @offer.photos.count == 2 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-1">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @offer.photos.count == 3 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-2">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @offer.photos.count == 4 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary-3">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-3">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
   <% elsif @offer.photos.count == 5 %>
    <div class="gallery">
      <div class="gallery-main mr-3">
        <%= cl_image_tag @offer.photos[0].key, class: "gallery-main-image" %>
      </div>
      <div class="gallery-secondary">
        <% @offer.photos.drop(1).each do |photo| %>
          <div class="image-container-4">
            <%= cl_image_tag photo.key, class: "gallery-image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
